
.mask-container {
  width: 100%;
  height: 100%;
  position: fixed;
  mask-image: url(/images/circle-mask-1.png);
  -webkit-mask-image: url(/images/circle-mask-1.png);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: $mask-size;
  -webkit-mask-position: calc(var(--mouse-x) - #{$mask-size / 2}) calc(var(--mouse-y) - #{$mask-size / 2});
}

.mask-stars {
  background: url(/images/stars-tile-2.jpg);
  width: 100%;
  height: 100%;
  opacity: 0.3;
  position: absolute;
}

.stars-1 {
  position: absolute;
  top: 50%;
  left: 60%;
  opacity: 1;
  animation: rotating infinite linear 15s;
  mix-blend-mode: screen;
  .stars-1-image {
    width: 100rem;
    transform: translate(-50%, -50%) rotate(#{random(360)}deg);
    animation: fade 5s #{random(5)}s alternate infinite $ease-in-out-sine;
  }
}

.stars-2 {
  position: absolute;
  top: 50%;
  left: 30%;
  opacity: 1;
  animation: rotatingReverse infinite linear 15s;
  mix-blend-mode: screen;
  .stars-2-image {
   width: 100rem;
   transform: translate(-50%, -50%) rotate(#{random(360)}deg);
   animation: fade 5s #{random(5)}s alternate infinite $ease-in-out-sine;
  }
}
@keyframes rotating {
    from { transform: rotate(0deg) translateX(5rem) rotate(0deg); }
    to   { transform: rotate(360deg) translateX(5rem) rotate(-360deg); }
}
@keyframes rotatingReverse {
    from { transform: rotate(0deg) translateX(5rem) rotate(0deg); }
    to   { transform: rotate(-360deg) translateX(5rem) rotate(360deg); }
}
@keyframes fade {
    from { opacity: 0.2;}
    to   { opacity: 1;}
}
