.product-1 {
  position: absolute;
  width: 31rem;
  height: 41.4rem;
  left: 85.3rem;
  top: 50rem;
  background-image: url(/images/product-1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.shopbtn-1 {
  position: absolute;
  width: 11rem;
  left: 95.3rem;
  top: 85rem;
}
.product-1-desc {
  font-family: $medium;
  font-size: 1.3rem;
  color: $font-white;
  text-align: center;
  text-transform: uppercase;
  transform: rotate(-90deg);
  position: absolute;
  width: 31.9rem;
  height: 6.2rem;
  line-height: 6.2rem;
  left: 103.5rem;
  top: 63rem;
}
.product-2 {
  position: absolute;
  width: 31rem;
  height: 41.4rem;
  left: 25.3rem;
  top: 75rem;
  background-image: url(/images/product-2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.shopbtn-2 {
  position: absolute;
  width: 11rem;
  left: 35.5rem;
  top: 114rem;
}
.product-2-desc {
  font-family: $medium;
  font-size: 1.3rem;
  color: $font-white;
  text-align: center;
  text-transform: uppercase;
  transform: rotate(-90deg);
  position: absolute;
  width: 31.9rem;
  height: 6.2rem;
  line-height: 6.2rem;
  left: 6rem;
  top: 87.9rem;
}
.product-3 {
  position: absolute;
  width: 31rem;
  height: 41.4rem;
  left: 85.3rem;
  top: 100rem;
  background-image: url(/images/product-3.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.shopbtn-3 {
  position: absolute;
  width: 11rem;
  left: 95.3rem;
  top: 138rem;
}
.product-3-desc {
  font-family: $medium;
  font-size: 1.3rem;
  color: $font-white;
  text-align: center;
  text-transform: uppercase;
  transform: rotate(-90deg);
  position: absolute;
  width: 31.9rem;
  height: 6.2rem;
  line-height: 6.2rem;
  left: 103.5rem;
  top: 112.9rem;
}
.product-4 {
  position: absolute;
  width: 31rem;
  height: 41.4rem;
  left: 25.3rem;
  top: 125rem;
  background-image: url(/images/product-4.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.shopbtn-4 {
  position: absolute;
  width: 11rem;
  left: 35.5rem;
  top: 155rem;
}
.product-4-desc {
  font-family: $medium;
  font-size: 1.3rem;
  color: $font-white;
  text-align: center;
  text-transform: uppercase;
  transform: rotate(-90deg);
  position: absolute;
  width: 31.9rem;
  height: 6.2rem;
  line-height: 6.2rem;
  left: 6rem;
  top: 137.9rem;
}
